<div class="createRizzipe">
    <form {{on "submit" this.onSubmit}}>
        <Input type="text" class="form-control" placeholder="Title" @value={{this.title}} /> <br>
        <select class="form-control" id="category">
            <option value="" selected="selected" disabled="disabled">Select a category</option>
            <option value="1">Bread</option>
            <option value="2">Cake</option>
        </select> <br>
        <Input type="number" class="form-control" placeholder="Duration" @value={{this.duration}} /> <br>
        <Textarea class="form-control" placeholder="Steps" @value={{this.steps}}/> <br>
        <Textarea class="form-control" placeholder="Ingredients" @value={{this.ingredients}} /> <br>
        <div class="custom-file">
            <input type="file" id="image" onchange={{this.baseEncode}}>
            <label for="image">Choose a file</label>
        </div> <br>
        <input class="btn btn-primary" type="submit" value="Create rizzipe">
        <img id="imagetest"  alt="">
    </form>
</div>