<div class="container-fluid">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <div class="card">
                <h2 class="card-title">
                    Login
                </h2>
                <form {{on "submit" this.onSubmit}} class="form-inline w-400 mw-full">
                    <div class="form-group">
                        <label class="required w-100" for="Email">Email</label>
                        <Input type="email" class="form-control" placeholder="Email" id="Email"
                            required="required" @value={{this.Email}} />
                    </div>
                    <div class="form-group">
                        <label class="required w-100" for="password">Password</label>
                        <Input type="password" class="form-control" placeholder="Password" id="password"
                            required="required" @value={{this.Password}} />
                    </div>
                    <div class="form-group mb-0">
                        <input type="submit" class="btn btn-primary btn-block" value="Login">
                    </div>
                    <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            New user? Register <LinkTo @route={{'Register'}}>here</LinkTo>
                            
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-sm"></div>
    </div>
</div>

{{yield}}