{{page-title "Rizzipe"}}
{{rizzipe object=model}}
<div class="container-fluid">
    <div class="col-sm"></div>
    <div class="col-sm">
        {{#each @model as |item|}}
        <div class="w-800 mw-full">
            <div class="card p-0">
                <div>
                    <h2 class="content-title">
                        <center>
                            {{item.title}}
                        </center>
                    </h2>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm">
                                <div class="content">
                                    <div class="w-400 mw-full">
                                        <div class="card">
                                            <h4>Ingredients</h4>
                                            {{#each item.ingredients as |ingredient|}}
                                                <hr>
                                                <p>{{ingredient}}</p>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm"></div>
                            <div class="col-sm">
                                <div class="content">
                                    <div class="w-400 mw-full">
                                        <div class="card">
                                            <h4>Gallery</h4>
                                            <img style="width: 20vw;" src={{item.image}} alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <center>
                        <div class="w-700 mw-full">
                            <div class="card">
                                <h5 style="float:left;">Steps</h5> <br> <br>
                                <hr>
                                <p class="text-muted">
                                    {{item.steps}}
                                </p>
                            </div>
                        </div>
                    </center>
                </div>
               <Comment></Comment>
               <List-Comment @comments={{item.comments}}/>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="col-sm"></div>
</div>


{{outlet}}